<form #rechAlbum="ngForm" (ngSubmit)="chercherAlbum(rechAlbum.value.recherche)">
  <h1>Recherche d'albums</h1> 
  <mat-form-field>
    <input matInput type="text" placeholder="recherche" ngModel name="recherche" required>
  </mat-form-field>
  <input type="submit" value="Valider">
</form>


<mat-grid-list cols="3">
  <mat-grid-tile *ngFor="let cd of albums; let i=index">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a [routerLink]="['/cd' , cd.id]">{{cd.name}}</a>
        </mat-card-title>
      </mat-card-header>
      <a [routerLink]="['/cd' , cd.id]">
        <img *ngIf="cd.images != 0" src="{{cd.images[0].url}}" width=80>
      </a>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


